body {
        background-color: black;
}

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
}

li a {
        float: left;
        font-family: 'Montserrat', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li a:hover {
        background-color: rgb(77, 77, 77);
}

img {
        padding: 1%;
        max-width: 1000px;
        width: 98%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.header {
        font-size: 55px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 30px;
        text-indent: 0px;
}

.item {
        width: 50%;
        height: auto;
        padding: 10px;
}

p {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        text-decoration: none;
        float: left;
        color: white;
        font-weight: lighter;
        margin-top: 5px;
        line-height: 40px;
        text-indent: 40px;
}

/* Default */
.container {
        display: flex;
        flex-flow: row;
}

/* Smaller screens */
@media all and (max-width: 900px) {
        .container {
                flex-direction: column;
        }
        .item {
                width: 98%;
                height: auto;
                padding: 1%;
        }
}
